* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #219ebc;
    display: grid;
    place-items: center;
    height: 100vh;
}

.profile-card {
    background: linear-gradient(180deg, #219ebc 40%, #e8e1e1 40%);
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #415a77;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: 3px solid #e8e1e1;


}

.card-details {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35px;
}

.likes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e0c6c6;
    margin-top: 3rem;
    padding-top: 1rem;
    
}